body{
    background-color: black;
    display: grid;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

.calculater{
    width: 15rem;
    display: grid;
}

.result{
    padding: 2rem 0;
    width: 19rem;
    margin-bottom: 1rem;
    color: white;
    height: 2rem;
    font-size: 2rem;
    text-align: end;
    overflow: auto;
    overflow-x:visible;
    overflow-y: hidden;
    margin-bottom: 2rem;
}

.all-buttons{
    margin-top: -2rem;
    display: grid;
}

button{
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    width: 4rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    height: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.operations{
    display: flex;
    width: 100%;
}

.reminder{
    margin-left: 1rem;
}

.numbers-operations2{
    display: flex;
}

.numbers-brackets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
}

.operations2{
    display: grid;
}

.operations, .number, .operations{
    justify-content: center;
}

.operations2 button, .reminder, .power, .double{
    background-color: orange;
}

.clear-operation, .delete-operation{
    background-color: rgb(255, 102, 102);
}

.clear-operation{
    margin-left: 1rem;
}

.equal-and-AC{
    display: flex;
}

.equal-operation{
    width: 43%;
}

.bracket{
    background-color: rgb(32, 129, 32);
}

ul, .empty-history{
    display: none;
    color: white;
}

.last-operations{
    background-color: gray;
}

.blur{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.invalid-key{
    display: none;
    padding: 1rem;
    position: absolute;
    top: 30%;
    left: 36%;
    width: 30rem;
    height: 10rem;
    z-index: 1;
    border-radius: 1rem;
    color: white;
    background-color: rgb(236, 87, 87);
}

.invalid-key button{
    width: 5rem;
    font-size: 1rem;
    height: 2rem;
    padding: 0;
    display: block;
    justify-self: end;
}